/*--------------------------------------------------------------
# CSS
--------------------------------------------------------------*/
#rfid-form {
    position: absolute;
    left: -9999px;
    width: 0;
    opacity: 0;
}

.sidebar .nav-header{
    color: orange;
}