/*--------------------------------------------------------------
# CSS
--------------------------------------------------------------*/
#rfid-form {
    position: absolute;
    left: -9999px;
    width: 0;
    opacity: 0;
}

.sidebar .nav-header {
    color: orange;
}


body,
.content-wrapper {
    padding-top: 25px;
}

.content-wrapper {
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}


.btn-custom {
    width: 100px;
}


.main-header {
    background-color: #a91414;
    color: #fff;
}

.nav-treeview .nav-item {
    padding-left: 20px;
}
